/*@import url("reset.css");*/

body {
	background-image: url("../images/back.jpg");
	font-size: 18px;
	line-height: 34px;
	font-family: 'Didact Gothic', sans-serif;
	color: #777;
}

* {
	box-sizing: border-box;
}

/*general*/
.jumbotron {
	background-color: #239238;
	color: white;
	text-align: center;
	

}
.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}
/*h1,*/ 
/*h2,*/
h3,
p {
	margin-bottom: 20px;
	color: #239238;

}
p:last-child {
	margin-bottom: 0;
}
h1, h2, h3 {
	font-family: 'Didact Gothic', sans-serif;
	font-weight: 700;
}
h1 {
	font-size: 30px;
	line-height: 60px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 20px;
}
h2{
	font-size: 20px;
}

/*header*/

#masthead {
	background: #fff;
	margin: 0 0 30px;
	z-index: 99;
	color: white;
	overflow: auto;
	border-bottom: 2px solid #ccc;
	position: fixed;
	width: 100%;
}
.placeholderimg {
	float:left;
	width:50%;
}


/*footer*/

footer {
	background: transparent;
/*	color: #fff;
	padding: 30px 0;
	clear: both;
	color: #ccc;
	font-size: 12px;*/

}

/*sidebar*/
#game {
	/*width: 250px;
	height: 90px;*/
/*	background: #4aaaa5;*/
/*	float: right;*/
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
	line-height: 90px;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	text-decoration: none;
}
.alpha {
/*	background: #fff;*/
	padding: 30px;
	width: 100%;
	min-width: 375px;
	float: left;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
/*.alpha h2 {
	border-bottom: 2px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-right: 5px;*/
}
/*.alpha:last-child {
	margin-right: 0;
}*/

/*main*/

main {
	padding-top: 130px;
}
.main-section {
	background: #fff;
	padding: 30px;
	margin: 0 0 40px 0;
	width: 100%;
	max-width: 650px;
	float: left;
	border: 1px solid #ddd;
}


@media screen and (max-width: 980px) {
	.container {
		padding: 0 20px;
		max-width: 768px;
	}
	main.container {
		padding-top: 130px;
	}
	.main-section {
		max-width: 420px;
	}
	.placeholderimg {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 768px) {
	.main-section,
	.sidebar {
		max-width: 100%;
	}
	main {
		overflow: auto;
	}
	.placeholderimg {
		width: 50%;
	}
	.alpha {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 640px) {
	.jumbotron {
		position: static;
		margin-bottom: 20px;
	}
	header.container {
		padding: 0;
	}
	main.container {
		padding-top: 0;
	}
	.placeholderimg {
		width: 100%;

}

